@model JobMeHomePage.JobPostServiceReference.JobPost
@{
    ViewBag.Title = "JobPost";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}


<!--#region jobPost infomation-->
<div class=" panel panel-default">
<div class="panel-body">
    <div class="row">
        <div class="col-sm-9" id="jobPostLeftContent">
            <div class="row">
                <div class="col-sm-8">
                    <!-- Basic contact info and jobpost info-->
                    <p id="jobPostTitle">@Model.Title</p>
                    <div class="jobPostBasicInfo">Annonce oprettet af @Model.company.CompanyName i @Model.jobCategory.Title</div>
                    <div class="jobPostBasicInfo">Ansættelse: @Model.workHours.Type</div>
                    <div class="jobPostBasicInfo">Ansøgnings periode: @Model.StartDate - @Model.EndDate</div>
                    <div class="jobPostBasicInfo">Lokation: @Model.Address</div>

                </div>
                <div class="col-sm-4">
                    <!--Profile image from the company!-->
                    @if (Model.company.ImageURL != null)
                    {
                        <img src="@Model.company.ImageURL" id="jobPostCompanyPic" class="img-responsive" />
                    }
                    else
                    {
                        <img src="/Content/image/JobMeHorizontal.png" id="jobPostCompanyPic" class="img-responsive" />
                    }

                </div>
            </div>
            <!--Seperator-->
            <div class="row" id="seperator"></div>

            <div class="col-sm-2" id="descriptionText">Beskrivelse:</div>
            <div class="col-sm-10" id="descriptionBodyText">
                @Model.Description
            </div>
            <div class="col-sm-2" id="descriptionText">Kategori:</div>
            <div class="col-sm-10" id="descriptionBodyText">
                Renrøring
            </div>
            <div class="col-sm-2" id="descriptionText">Krav:</div>
            <ul>
                <li>Du skal være fyldt 18 år</li>
            </ul>


            @*<div class="col-lg-2" style="float: right">
                <button class="btn btn-blue">Send ansøgning</button>
            </div>*@


        </div>
        
        
    </div>
   </div>
    </div>
    


	@*<!--#endregion-->
	<!--#region jobPost right infomation-->
	<div class="col-sm-3" id="jobPostRightContent">
		hej
	</div>
</div>
<!--#endregion-->*@


