@model JobMeHomePage.JobCVServiceReference.JobCV
<!-- #region Deployement-->
<div class="col-sm-12" id="experience-col">

    <div class="row" id="profileInfoRight">
        <div class="col-sm-12">
            <p id="CVHeadlinge">Erhvervserfaring</p>
        </div>

		@foreach (var item in Model.JobExperienceList)
		{
			<div class="companyName">@item.Title</div>
			<div class="DateAndPosition">@item.StartDate.ToShortDateString() -  @item.EndDate.ToShortDateString() <!--<div id="boldText">Marketing Specialist</div>--></div>
			<div class="jobDescription">@item.Description</div>

		}

        <!--#endregion-->
        <!-- #region Education-->
        <div class="col-sm-12">
            <p id="CVHeadlinge">Uddannelse</p>
        </div>

		@foreach (var education in Model.ApplierEducationList)
		{
			<div class="row" id="educationMargin">
				<div class="col-sm-6">
					<div class="educationPlaceAndTitle">@education.Institution</div>
					<div class="educationPlaceAndTitle">@education.EducationName</div>

				</div>
				<div class="col-sm-6">
					<div class="educationTimeDate">@education.StartDate.ToShortDateString() - @education.EndDate.ToShortDateString()</div>
				</div>
			</div>
		}

        <!--#endregion-->

        <!--#region certificates and more-->
        <div class="col-sm-12">
            <p id="CVHeadlinge">Certifikater og andet</p>
        </div>

		@foreach (var appendix in Model.JobAppendixList)
		{
			<div class="row" id="certificateMargin">
				<div class="col-sm-10">
					<p>@appendix.Title</p>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-blue" id="seeCertificat">Se</button>
				</div>
			</div>
		}

    </div>
    <div class="row" id="seperator">
        <div class="col-sm-12"></div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <button type="button" class="btn btn-success" id="saveButton">Gem oplysninger</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-warning" id="saveButton">Annuller/Gå tilbage</button>
        </div>
    </div>
</div>
</div>

<!--#endregion-->
