@model JobMeHomePage.Models.VMJobPostWorkHoursJobCategory
@{
    ViewBag.Title = "FindJobPosts";

    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}


<h1>Find job</h1>
<!-- #region Search -->
<form action="/Applier/FindJobPosts" method="post">
    <div class="row">

        <div class="col-sm-6">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input name="search" type="text" class="form-control" placeholder="Søg">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>




        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">

                            <div class="input-group-addon"> Km</div>
                            <select class="form-control" name="km" id="km">
                                <option value="0">50+</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="input-group">

                            <div class="input-group-addon"> Job Type</div>
                            <select class="form-control" name="category" id="Category">
                                <option value="0">Alle</option>

                                @foreach (var Category in Model.JobCategoryList)
                                {
                                    <option value="@Category.Id">@Category.Title</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-group">

                            <div class="input-group-addon"> Tid</div>
                            <select class="form-control" name="workHours" id="workhours">

                                <option value="0">Alle</option>
                                @foreach (var WorkHours in Model.WorkHoursList)
                                {
                                    <option value="@WorkHours.Id">@WorkHours.Type</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</form>
<!-- #endregion -->

<h2>@ViewBag.SearchField</h2>



<!-- #region Searched items -->


<div class="row ">


    @foreach (var JobPost in Model.JobPostList)
    {

        <div class="col-sm-12 bg-white jobPost content">
            <div class="row">

                <div class="col-xs-3">
                    <img class="img-responsive" src="@JobPost.company.ImageURL">
                </div>
                <div class="col-xs-7">
                    <h4 class="company-Name"><strong>@JobPost.Title</strong></h4><h5><strong>@JobPost.company.CompanyName</strong></h5><h4><small>@JobPost.Description</small></h4>
                </div>
                <div class="col-xs-2 pull-right">

                    <button type="button" class="btn btn-link btn-lg">
                        <span class="glyphicon glyphicon-ok"> </span>
                    </button>


                    <button type="button" class="btn btn-link btn-lg ">
                        <span class="glyphicon glyphicon glyphicon-remove"> </span>
                    </button>
            
                    <a  class="btn btn-blue" href="/applier/JobPost/@JobPost.Id">Se mere</a>
                </div>





            </div>
        </div>
    }
</div>
<div class="pagination"></div>

@section scripts {

    <script>
            jQuery(function($) {
                var items = $(".content");

                var numItems = items.length;
                var perPage = 10;

                // only show the first 2 (or "first per_page") items initially
                items.slice(perPage).hide();

                // now setup pagination
                $(".pagination").pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    cssStyle: "light-theme",
                    onPageClick: function(pageNumber) { // this is where the magic happens
                        // someone changed page, lets hide/show trs appropriately
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;

                        items.hide() // first hide everything, then show for the new page
                             .slice(showFrom, showTo).show();
                    }
                });
            });
      </script>
    }
<!-- #endregion -->